*{
    margin: 0;
}
.header-main{
    background-image: url(../images/banner/banner3.png); 
    width: auto;
height: 808px;
/* left: 0px;
top: 0px */
}
.header-description{
    text-align: right;
    padding-top: 300px;
    margin-right: 40px ;
    
}